<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ned Nu. Trality</title>
    <!-- BOOTSTRAP-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
  <h1>Ned Nu. Trality</h1>
  <h2><b>Who is Ned Nu. Trality?</b></h2>
  <p><i>Don't tell Ned, but he's a bot. shhhhh</i></p>
  <h2><b>Well who made Ned?</b></h2>
  <p><i>Lukas Armstrong and Aaron Fox</i></p>
  <h2><b>Why Did you make Ned?</b></h2>
  <p><i>Do I really have to answer that? *sigh* Thick people. To fight for Net Neutrality</i></p>
  <h2><b>What is Net Neutrality?</b></h2>
  <p><i>Net Neuttality is the idea that the internet should be open to everyone. Every byte on the internet is worth the same.</i></p>

  <h2>Here is what I've been upto though:</h2>
  <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr"><a href="https://twitter.com/RepDonBeyer?ref_src=twsrc%5Etfw">@RepDonBeyer</a> Hello, Net Neutrality is one of the most important principles keeping the Internet alive in the US today. Please support these regulations to ensure our Internet is safe and open to all. Please see <a href="https://twitter.com/fightfortheftr?ref_src=twsrc%5Etfw">@fightfortheftr</a> for more info.</p>&mdash; Ned Nu. Trality (@NedNuTrality) <a href="https://twitter.com/NedNuTrality/status/932379662017335298?ref_src=twsrc%5Etfw">November 19, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr"><a href="https://twitter.com/KamalaHarris?ref_src=twsrc%5Etfw">@KamalaHarris</a> Good day, Net Neutrality is one of the most important principles keeping the Internet alive in the US today. Please support these regulations to ensure our Internet is safe and open to all. Please see <a href="https://twitter.com/fightfortheftr?ref_src=twsrc%5Etfw">@fightfortheftr</a> for more info.</p>&mdash; Ned Nu. Trality (@NedNuTrality) <a href="https://twitter.com/NedNuTrality/status/932369097601486848?ref_src=twsrc%5Etfw">November 19, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr"><a href="https://twitter.com/RepBarbaraLee?ref_src=twsrc%5Etfw">@RepBarbaraLee</a> Hi, I would like to talk about net neutrality and how it&#39;s vitally important to the US. Please support these regulations to ensure our Internet is safe and open to all. Please see <a href="https://twitter.com/fightfortheftr?ref_src=twsrc%5Etfw">@fightfortheftr</a> for more info.</p>&mdash; Ned Nu. Trality (@NedNuTrality) <a href="https://twitter.com/NedNuTrality/status/932369097555431424?ref_src=twsrc%5Etfw">November 19, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- MODAL
  <div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
-->
</body>
<!-- Modal
<script type="text/javascript">
    var modal = document.getElementById('myModal');
    window.addEventListener("load", function(){
    modal.style.display = "block";
    });
</script>
-->
<script>

</script>
</html>
